{{ $post := .post }}

<div class="article-list-item" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
  {{ $preview := $post.Params.header.preview | default true }}
  {{ if and $post.Params.header.image $preview }}
  <a href="{{ $post.Permalink }}">
    <img src="{{ "/img/" | relURL }}{{ $post.Params.header.image }}" class="article-banner" itemprop="image">
  </a>
  {{end}}
  <h3 class="article-title" itemprop="headline">
    <a href="{{ $post.Permalink }}" itemprop="url">{{ $post.Title }}</a>
  </h3>  
  {{ partial "article_metadata" (dict "content" $post "is_list" 1) }}
  <div class="article-style" itemprop="articleBody">    
    {{ if $post.Params.summary }}
    <p>{{ printf "%s" $post.Params.summary | markdownify }}</p>
    {{ else if $post.Truncated }}
    {{ $post.Summary }}
    {{ else }}
    {{ $post.Content }}
    {{ end }}
  </div>
  <div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="img/facebook-circle.png" width="32" height="32">
            <p><a href="https://www.facebook.com/www.sajal.info" target="_blank">Like Us on<br>Facebook</a></p>
        </li>
        <li>
            <img src="img/twitter-circle.png" width="32" height="32">
            <p><a href="https://twitter.com/sajaldotinfo" target="_blank">Follow Us on<br>Twitter</a></p>
        </li>
        <li>
            <img src="img/gplus-circle.png" width="32" height="32">
            <p><a href="https://plus.google.com/" target="_blank">Follow Us on<br>Google+</a></p>
        </li>
        <li>
            <img src="img/linkedin-circle.png" width="32" height="32">
            <p><a href="https://www.linkedin.com/in/sajaldotinfo" target="_blank">Follow Us on<br>LinkedIn</a></p>
        </li>
        <li>
            <img src="img/youtube-circle.png" width="32" height="32">
            <p><a href="http://www.youtube.com/sajaldotinfo" target="_blank">Subscribe on<br>YouYube</a></p>
        </li>
        <li>
            <img src="img/pin-circle.png" width="32" height="32">
            <p><a href="https://www.pinterest.com/sajaldotinfo" target="_blank">Follow Us on<br>Pinterest</a></p>
        </li>
    </ul>
</div>
  <p class="read-more" itemprop="mainEntityOfPage">
    <a href="{{ $post.Permalink }}" class="btn btn-primary btn-outline">
      {{ i18n "continue_reading" }}
    </a>
  </p>
</div>
